@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
:root {
  --primary-color: hsl(0, 100%, 97%);
  --primary-text-color: hsl(265, 32%, 12%);
  --secondary-color: hsl(224, 67%, 74%);
  --secondary-text-color: hsla(48, 90%, 97%, 1);
  --btn-bg-color: hsl(228, 52%, 64%);
  --btn-bg-hover: hsla(228, 72%, 30%);
  ---quaternary-color: hsl(246, 100%, 5%);
  ---quinary-color: hsl(0, 0%, 20%);
  --alert-color: hsl(349, 67%, 54%);
}
body {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}
header {
  max-height: 25vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1vh;
}

main,
footer {
  width: 80%;
}

.logo {
  height: 20vh;
  width: 15vh;
  border-radius: 10px;
}

nav {
  height: 10vh;
  width: 100%;
  background-color: var(--secondary-color);
  margin: 0 0 2vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 2.5rem;
  padding: 2vh 2vh;
  transition: all 1s;
}
nav a:hover {
  color: var(--secondary-text-color);
  font-weight: 700;
}
main {
  height: 73vh;
  display: flex;
  justify-content: center;
  margin: 0 0 2vh 0;
}
#log-in {
  width: 85%;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 5px;
  background-color: var(--primary-color);
  border: solid 1px var(--secondary-color);
  box-shadow: 5px 5px 5px var(--secondary-color);
}
#log-in h2 {
  font-size: 2.25vw;
  text-align: center;
  margin: 5vh auto;
  padding: 2vw 1vw;
}

form {
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-align {
  margin: 1vw 0;
}

#meldingen {
  height: auto;
  width: auto;
  border: solid 1px var(---quinary-color);
  margin: 2vw 2vw;
  color: var(--alert-color);
  text-align: center;
  padding: 1vw;
  font-size: 2vw;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.75vw;
  padding: 10px;
  margin: 5vw 0 2vw;
  height: 3vw;
  width: 25vw;
  color: var(--secondary-text-color);
  background-color: var(--btn-bg-color);
  border: ridge 5px var(--secondary-color);
  border-radius: 5px;
}

.btn:hover {
  background-color: var(--btn-bg-hover);
  border: groove 5px var(--secondary-color);
}

input {
  outline: transparent;
  background-color: var(--primary-color);
  width: 25vw;
  height: 3vw;
  border-radius: 5px;
  font-size: 1.75vw;
  line-height: 3vh;
  margin-right: 1vw;
  cursor: pointer;
}

.input-error {
  border-radius: 5px;
  border: 2px solid var(--alert-color);
}

.hidden {
  display: none;
}

.media-attribution {
  height: 35vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px var(---quaternary-color);
  border-radius: 5px;
  background-color: var(--primary-color);
  box-shadow: 5px 5px 5px var(---quaternary-color);
}
.media-attribution img {
  height: 25vh;
  width: 25vw;
  padding: 2vh;
}
.error404 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  height: 10vh;
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.copyright {
  font-size: 1vw;
}
